meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Recuperar cartera.
meta(meta name="description" content="La gestión de cobranzas y cartera hace su entrada al curso de Microfinanzas y se hace un planteamiento de la forma correcta de cobrar y cómo este fundamental proceso se requiere de manera indispensable en las entidades financieras y microempresas, queda claro que la cartera y la cobranza no es un tema solo del prestador del servicio, es una hoja de vida del microempresario que sale a competir en un mercado en el que necesita credibilidad. ")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")