h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Preparar las actividades de cobranza de acuerdo con políticas de la entidad y guía técnica.
            li 
                span Establecer acuerdos de pago conforme a capacidad de pago y política institucional.
            li 
                span Contrastar el recaudo con el plan de pagos conforme a las políticas institucionales y base de datos.
            li 
                span Presentar la labor de cobranza al área encargada de supervisar la cartera según políticas de la entidad.                                                