.container
    .header-ecored
        h1 11. Políticas de normalización de cartera.
    .jumbotron.bg-white
        p Son todos aquellos lineamientos, normas, procedimientos que tiene una entidad financiera para colocar su cartera al día, según cada entidad podrá ofrecer diferentes alternativas a sus clientes que se encuentren con sus deudas vencidas, algunas de ellas son: refinanciación, reestructuración, unificación de deudas, entre otras que se exponen a continuación mostrando las características de cada una:

        .jumbotron.bg-10.mt-5
            .sub-ecored#11_1
                h2 11.1 Reestructuración.  
            .row.justify-content-center.align-items-center.mt-5
                .col
                    .row.justify-content-center.align-items-center
                        .col-10                
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Modificación en las condiciones iniciales de crédito. 
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Se amplía plazo reduce cuota.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Se mantiene la misma obligación.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Reporte a las centrales de riesgo.
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img52.png").img-fluid  
        .jumbotron.bg-10.mt-5
            .sub-ecored#11_2
                h2 11.2 Prórroga de microfinanzas.  
            .row.justify-content-center.align-items-center.mt-5
                .col
                    .row.justify-content-center.align-items-center
                        .col-10                  
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Obligación al día o en mora hasta 29 días al momento de la contabilización.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Amplía plazo, se mantiene valor cuota.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Se pueden prorrogar hasta 3 cuotas prorrogables otras 3.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top No reporta centrales de riesgo.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Debe utilizarse en forma excepcional y estar debidamente justificada.


                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img53.png").img-fluid  

        .jumbotron.bg-10.mt-5
            .sub-ecored#11_3
                h2 11.3 Prórroga y/o rediferido.  
            .row.justify-content-center.align-items-center.mt-5
                .col
                    .row.justify-content-center.align-items-center
                        .col-10                   
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Consiste en el traslado de la(s) cuota(s) de un crédito a una nueva fecha de pago sin ampliar ni modificar el vencimiento final de la operación original.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top No reporta centrales de riesgo.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top No aplica para créditos de única o última cuota.

                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img54.png").img-fluid  

        .jumbotron.bg-10.mt-5
        
            .sub-ecored#11_4
                h2 11.4 Mejoramiento de perfil.  
            .row.justify-content-center.align-items-center.mt-5
                .col
                    .row.justify-content-center.align-items-center
                        .col-10                   
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Obligación al día o en mora hasta 29 días al momento de la contabilización.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Modificación de condiciones iniciales de crédito.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Amplía plazo reduce cuota.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top No reporta centrales de riesgo.

                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img55.png").img-fluid  
        .jumbotron.bg-10.mt-5

            .sub-ecored#11_5
                h2 11.5 Mejoramiento de perfil con modalidad de abono parcial.  
            .row.justify-content-center.align-items-center.mt-5
                .col
                    .row.justify-content-center.align-items-center
                        .col-10                   
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Obligación al día o en mora hasta 29 días al momento de la contabilización.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Modificación en las condiciones iniciales de crédito. Amplía plazo reduce cuota.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top El plazo será ampliado dependiendo de las políticas de cada entidad financiera.
    
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img56.png").img-fluid  
        .jumbotron.bg-10.mt-5

            .sub-ecored#11_6
                h2 11.6 Subrogación.  
            .row.justify-content-center.align-items-center.mt-5
                .col
                    .row.justify-content-center.align-items-center
                        .col-10                   
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Asume obligación un tercero, debe acreditar características de sujeto de crédito.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Genera nueva obligación.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top No reporta a centrales de riesgo.
            
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img57.png").img-fluid 
        .jumbotron.bg-10.mt-5

            .sub-ecored#11_7
                h2 11.7 Cambio de fecha.  
            .row.justify-content-center.align-items-center.mt-5
                .col
                    .row.justify-content-center.align-items-center
                        .col-10                   
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Modificación día de pago de la cuota.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top No reporta centrales de riesgo.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Los intereses causados por el cambio de fecha deberán ser cancelados por el cliente o autorizar cargarlos a la siguiente cuota.

                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img58.png").img-fluid  

        .jumbotron.bg-12.mt-5 
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/alert.png").img-fluid  

                .col
                    p Toda organización, empresa, entidad financiera que otorgue préstamos, dentro de su política crediticia y cobranza deberá contener la normalización de la cartera, para profundizar en el tema se recomienda hacer el análisis de los puntos fuertes en la cobranza expuestos en el libro de Morales y Castro (2015) Crédito y Cobranza. 

                    .row.justify-content-center.align-items-center
                        .col-auto
                            a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/39380" target="_blank").media-link    

                                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                                .media-link-title
                                    p #[strong Anexo.] Libro de Morales y Castro (2015) Crédito y Cobranza. 