.container
    .header-ecored
        h1 4. Hábitos de pago.
    .jumbotron.bg-11
        .row.justify-content-center.align-items-center
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img23.png").img-fluid            
            .col
                p Los buenos o malos hábitos de pago serán determinantes para el otorgamiento o no de los microcréditos, pues ellos se podrán reflejar por ejemplo en las centrales de riesgo, allí el cliente tendrá todo su historial de pagos con las diferentes entidades tanto del sector financiero, como el sector real y solidario, al igual que cada entidad financiera en su base de datos refleja el comportamiento de ese cliente dentro de la entidad, puede pasar que el cliente nunca pase su mora de los 30 días pero no paga a tiempo sus cuentas y por ende sus pagos.

        .sub-ecored.mt-5#41
            h2 4.1 Capacidad.
        .row.justify-content-center.align-items-center         
            .col            
                p Las entidades microfinancieras deben tener especial cuidado en la capacidad de pago de sus clientes, pues es un sector que cubre el mercado formal, informal e inclusive algunos emprendimientos y por lo general no tienen muy claras sus cuentas entre la parte familiar y microempresarial. Su labor como asesor de microfinanzas consiste en indagar y conocer muy bien al cliente para determinar de manera acertada la verdadera capacidad de pago. 
            .col-auto.b-l            
                img.img-a(src="assets/images/pages/ilustraciones/img24.png").img-fluid                      

        .sub-ecored.mt-5#42
            h2 4.2 Voluntad de pago.
        p En el sector microfinanciero es uno de los factores determinantes para que se exija una mayor tasa de interés, pues no se conoce la voluntad de pago de los futuros clientes. Cuando los deudores tienen un historial crediticio con un negocio establecido es más fácil conocer la voluntad de pago por los hábitos que se reflejan, pero en los clientes que aún no han tendido historial es más complejo.

        p Las entidades microfinancieras acuden a otros métodos para lograr conocer en algo de voluntad de pago a sus potenciales clientes y lo hacen a través de otras fuentes como referencias del entorno, de proveedores, de clientes entre otros.
 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img25.png").img-fluid 