.container
    .header-ecored
        h1 5. Ley del consumidor financiero y Ley de Habeas Data. 
    .jumbotron.bg-white
        h3 Ley del consumidor financiero.  

        .row.justify-content-center.align-items-center
            .col
                p Es la Ley que faculta a la Superintendencia Financiera de Colombia para determinar las cláusulas y prácticas abusivas, que no pueden incorporar en contratos de adhesión en el consumidor financiero (todo cliente, usuario o cliente potencial de las entidades financieras). 
            .col-auto            
                img.img-a(src="assets/images/pages/ilustraciones/img26.png").img-fluid   

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/72271" target="_blank").media-link-1

                    img(src="assets/images/pages/ilustraciones/icon_www-1.svg", alt="").media-link-icon

                    .media-link-title.ml-4
                        p.color-black Todas las personas son consumidoras financieras de un modo y otro, como clientes o usuarios, para ahondar en los derechos del consumidor puede dar clic para mas información.                                    
        h3.mt-5 Ley de Habeas Data.  
        
        .row.justify-content-center.align-items-center.mt-5
            .col
                p La Ley que otorga a los ciudadanos el derecho a conocer, actualizar, rectificar y suprimir los datos personales que se encuentran almacenados en bases de datos y archivos en entidades financieras .
            .col-auto            
                img.img-a(src="assets/images/pages/ilustraciones/img27.png").img-fluid            

                       
        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/57741" target="_blank").media-link-1

                    img(src="assets/images/pages/ilustraciones/icon_www-1.svg", alt="").media-link-icon

                    .media-link-title.ml-4
                        p.color-black Las personas al tener información en diferentes entidades sean públicas o privadas son susceptibles a que sus datos sean tratados con responsabilidad y protección, para profundizar en el tema puede dar clic para mas información.    

        .sub-ecored.mt-5#51
            h2 5.1. Derechos.
        p Ley del consumidor financiero
        p Artículo 5°. Derechos de los consumidores financieros. Sin perjuicio de los derechos consagrados en otras disposiciones legales vigentes, los consumidores financieros tendrán, durante todos los momentos de su relación con la entidad vigilada, algunos de los derechos más relevantes son:             
        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 En desarrollo del principio de debida diligencia, los consumidores financieros tienen el derecho de recibir de parte de las entidades vigiladas productos y servicios con estándares de seguridad y calidad, de acuerdo con las condiciones ofrecidas y las obligaciones asumidas por las entidades vigiladas. 

        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Tener a su disposición, información transparente, clara, veraz, oportuna y verificable, sobre las características propias de los productos o servicios ofrecidos y/o suministrados. 

        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Exigir la debida diligencia en la prestación del servicio por parte de las entidades vigiladas.

        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Recibir una adecuada educación respecto a los productos y servicios ofrecidos, sus derechos y obligaciones. 

        .row.justify-content-center.align-items-center.my-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Presentar de manera respetuosa consultas, peticiones, solicitudes, quejas o reclamos ante la entidad vigilada, el defensor del Consumidor Financiero, la Superintendencia Financiera de Colombia y los organismos de autorregulación.

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                a(href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=36841" target="_blank").media-link-1

                    img(src="assets/images/pages/ilustraciones/icon_www-1.svg", alt="").media-link-icon

                    .media-link-title.ml-4
                        p.color-black Para conocimiento total de los derechos de los consumidores favor remitirse al siguiente enlace: Congreso de Colombia Ley 1329 de 2009  

        h3.mt-5 Ley de Habeas Data.
        p Dentro de los derechos del ciudadano dueño de la información se constituyen en siete ítems:
                     
        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Los titulares de la información tienen derecho a encontrar de manera ágil y sencilla la información suministrada por ellos y que se encuentra bajo la administración de otros.

        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Los ciudadanos podrán consultar de manera gratuita sus datos personales, al menos una vez al mes, y cada vez que se generen cambios en las políticas de tratamiento de éstos.


        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 En caso de no recordar haberse inscrito en una base de datos, el dueño de la información podrá solicitar una prueba de la autorización inicial por la que fue inscrito.


        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 El propietario de los datos tiene derecho a que se le describa para qué y cómo será utilizada su información.


        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 También se tendrá derecho a la actualización, rectificación y supresión cuando el titular lo considere conveniente (en cualquier momento) con sus propósitos o cuando el responsable por dicha información haya podido advertirlo para satisfacer los propósitos del tratamiento.


        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Todo administrador de la información deberá designar una persona o área que asuma la función de protección de datos personales, la cual también debe dar trámite a las solicitudes de los ciudadanos.


        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 En caso de sentir que algunos de estos derechos no son atendidos o cumplidos, el dueño de la información podrá recurrir al ente de control para radicar una queja formalmente. 


        .sub-ecored.mt-5#52
            h2 5.2 Obligaciones.

        p.mt-5 Artículo 7°. Obligaciones especiales de las entidades vigiladas. 
        h3 Algunas de las obligaciones tenemos: 

        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Suministrar información al público respecto de los Defensores del Consumidor Financiero.

        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Entregar el producto o prestar el servicio debidamente.


        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Suministrar información comprensible y publicidad transparente, clara, veraz, oportuna acerca de sus productos y servicios ofrecidos en el mercado.


        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Abstenerse de incurrir en conductas que conlleven abusos.


        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Guardar la reserva de la información suministrada por el consumidor financiero y que tenga carácter de reservada.


        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Atender y dar respuesta oportuna a las solicitudes, quejas o reclamos formulados por los consumidores financieros. 


        .row.justify-content-center.align-items-center.mt-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Permitir a sus clientes la consulta gratuita, al menos una vez al mes.


        .row.justify-content-center.align-items-center.my-5
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid            
         
            .col-10         
                .chat-box.cb--odd.py-3
                    p.mb-2 Desarrollar programas y campañas de educación financiera a sus clientes sobre los diferentes productos y servicios que prestan, obligaciones y derechos de estos y los costos de los productos y servicios que prestan, mercados y tipo de entidades vigiladas.
        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                a(href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=36841" target="_blank").media-link-1

                    img(src="assets/images/pages/ilustraciones/icon_www-1.svg", alt="").media-link-icon

                    .media-link-title.ml-4
                        p.color-black Para conocimiento total de las obligaciones de las entidades vigiladas por favor remitirse al siguiente enlace: Congreso de Colombia Ley 1329 de 2009  

        .sub-ecored.mt-5#53
            h2 5.3 Derechos Habeas Data.  
        .header-arrow.mt-5
            h3 El Decreto 090 de enero de 2018 impone diferentes obligaciones a las personas, que manejen bases de datos que contengan datos personales.
        .jumbotron.bg-11
            .row.justify-content-center.align-items-center
                .col-10
                    .list
                        .list__item
                            .list__item__bulletNumber
                                span A 
                        .list__txt    
                            p Tener un manual de políticas de manejo de datos personales, para implementar el cumplimiento de la ley.


                    .list.mt-3
                        .list__item
                            .list__item__bulletNumber
                                span B 
                        .list__txt    
                            p Contar con autorización del titular de los datos personales.


                    .list.mt-3
                        .list__item
                            .list__item__bulletNumber
                                span C
                        .list__txt    
                            p Utilizar avisos de privacidad.


                    .list.mt-3
                        .list__item
                            .list__item__bulletNumber
                                span D 
                        .list__txt    
                            p Adoptar medidas de seguridad para proteger la información.


                    .list.mt-3
                        .list__item
                            .list__item__bulletNumber
                                span E 
                        .list__txt    
                            p Indicar si realizan cesión, transferencia, transmisión internacional de datos.


                    .list.mt-3
                        .list__item
                            .list__item__bulletNumber
                                span F
                        .list__txt    
                            p Disponer de un canal PQR´s, que permita al titular solicitar la supresión, modificación o revocación de su información.


                    .list.mt-3
                        .list__item
                            .list__item__bulletNumber
                                span G 
                        .list__txt    
                            p Nombrar un Oficial de Cumplimiento.
            
            p.mt-5 Todo esto teniendo en cuenta que la finalidad de la Ley es proteger la intimidad de las personas naturales, que cada uno es dueño de su propia información y decide de manera voluntaria qué información comparte y cómo autoriza que sea manejada.          