.container
    .header-ecored
        h1 6. Estrategia de recuperación de cartera.
    .jumbotron.bg-white
        p Son una serie de acciones o medidas que se toman para el cobro del dinero otorgado por una entidad financiera a un cliente, para ello se encuentran, por ejemplo:
        .row.justify-content-center.align-items-center.mt-5
            .col
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Aviso anticipado al vencimiento
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Recordatorio de pago
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Cobro administrativo
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Cobro pre jurídico
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Cobro jurídico
 

            .col-auto            
                img.img-a(src="assets/images/pages/ilustraciones/img29.png").img-fluid                           
        
        .sub-ecored.mt-5#61
            h2 6.1 Técnicas de cobranzas.
        p.mt-5 La gestión de cobranzas en las empresas siempre será un tema esencial para el sostenimiento de las mismas, en general la buena colocación de los recursos en nuestro caso de las entidades financieras es determinante para el tener una buena recuperación de cartera en lo posible anticipada.
        img.img-a(src="assets/images/pages/ilustraciones/img30.png").img-fluid                           

        .header-arrow.py-4.my-5
            h3 Para ello existen unas técnicas que harán efectiva la recuperación de los recursos:
        .row.justify-content-center.align-items-center.mt-5
            .col-11
                .list
                    .list__item
                        .list__item__bulletNumber
                            span a 
                    .list__txt    
                        p Definir muy bien la segmentación de los clientes: esto ayudará en los costos y en la probabilidad de pago.

                .list
                    .list__item
                        .list__item__bulletNumber
                            span b 
                    .list__txt    
                        p Establecer nuevos canales de comunicación con el cliente: el aprovechamiento de la tecnología hará una comunicación más efectiva la recuperación de cartera.

                .list
                    .list__item
                        .list__item__bulletNumber
                            span c 
                    .list__txt    
                        p Crear productos ajustados a los clientes de hoy: los clientes al quedar en mora lo hacen por diferentes razones, por ejemplo; enfermedad, pérdida de trabajo, muerte o cualquier otra causa.
                        p Para estos eventos es necesario que las entidades ofrezcan diferentes productos que ayuden a los clientes en sus pagos y las entidades recuperen la cartera.
                        p Algunos productos:
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Finiquito: obtener un descuento cuando se realice el pago total de la deuda.
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Reestructura de deuda: consiste en tomar el total de deuda y enviarla a mayor tiempo con cuotas cómodas, se debe tener en cuenta que ya existe afectación en las centrales de riesgo.
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Descuento por devaluación del bien: para clientes cuyo bien ha sido afectado su valor por razones económicas.
                .list
                    .list__item
                        .list__item__bulletNumber
                            span d
                    .list__txt    
                        p Tener procesos estandarizados de cobranzas: esto hace que mejore los procesos de recuperación de cartera.

                .list
                    .list__item
                        .list__item__bulletNumber
                            span e 
                    .list__txt    
                        p Utilizar tecnología de punta en todos los procesos: se deben automatizar y mejorar el proceso de cobranza, las herramientas más usadas son sistema de cobranza integral y el marcador predictivo.

                .list
                    .list__item
                        .list__item__bulletNumber
                            span f 
                    .list__txt    
                        p Personal moderno y capacitado para la gestión de cobranza: el asesor financiero en nuestro caso asesor microfinanciero es quien desarrolla la labor de cobranza generalmente, pues es él quien conoce al cliente desde la colocación del crédito y tiene un mayor conocimiento de él.

                .list
                    .list__item
                        .list__item__bulletNumber
                            span g 
                    .list__txt    
                        p Tener indicadores de gestión para medir la gestión: dichos indicadores permiten identificar en clientes, en procesos o en información.


        .sub-ecored.mt-5#62
            h2 6.2 Servicio al cliente.
        p.mt-5 Es el servicio o atención que una empresa, entidad financiera o negocio brinda a sus clientes al momento de atender sus consultas, pedidos o reclamos, venderle un producto o servicio y la entrega del mismo.

        .header-arrow.py-4.my-5
            h3 Algunos factores que tienen que ver con servicio al cliente son:
        .row.justify-content-center.align-items-center.mt-6
            .col-12.col-md-6        
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Amabilidad
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Atención personalizada
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Rapidez en la atención
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Ambiente agradable
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Comodidad
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Seguridad
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Higiene
             
            .col-12.col-md-6        
                img.img-a(src="assets/images/pages/ilustraciones/img31.png").img-fluid                           

        .jumbotron.bg-5.mt-5
            P Cuando atendemos a un cliente de manera adecuada y queda a gusto por el servicio lo más posible es que vuelva o recomiende a otras personas.

            P Estadísticas aseguran que un cliente bien atendido trae otros 3 clientes potenciales y un cliente mal atendido se lleva por lo menos 10 actuales.

        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top Servicio Postventa. 

        P Estos se dan después de la venta, algunos son:
        .row.justify-content-center.align-items-center.mt-5
            .col-11
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Promocionales
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Psicológicos
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top De seguridad
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top De mantenimiento


        .sub-ecored.mt-5#63
            h2 6.3 Procesos de negociación.

        p.mt-5 Es el proceso que les ofrece a los contendientes la oportunidad de intercambiar promesas y contraer compromisos formales, tratando de resolver sus diferencias.

        .sub-ecored-teme.mt-5
            h3 Tipos de negociación. 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img32.png").img-fluid                           
        .header-arrow.py-4.my-5
            h3 Estas pueden clasificarse así:
        .row.justify-content-center.align-items-center.mt-5
            .col-11
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top  Según las personas involucradas: se realiza entre individuos, o grupos.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top  Según la participación de los interesados: pueden ser negociaciones directas o indirectas, estas últimas se realizan a través de personas que medien o árbitros o abogados.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top  Según asuntos que se negocian: existen diversos asuntos, para nuestro caso básicamente es la recuperación de cartera.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top  Según el clima humano: podrían ser amistosas o polémicas.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top  Según los factores desencadenantes: clasificadas en 

                        .list.mt-4
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Negociaciones libres (entre compradores y vendedores).
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Forzadas (cuando un hecho específico provoca la negociación).
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Morales o afectivas (cuando el proceso tiene que ver con comportamientos, actitudes o valores).
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Legales (cuando la causa que la origina es demanda judicial).
                        h3.mt-4 Según el canal de comunicación:
                        .list.mt-4
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Cara a cara
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Telefónicas 
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Cartas o comunicados
                        h3.mt-4 Según el modo de negociación: se pueden clasificar en:
                        .list.mt-4
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Competitivas
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Cooperativas

        .sub-ecored-teme.mt-5
            h3 Etapas del proceso de negociación 
        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-3.jumbotron.px-3.py-3.bg-6
                img.img-a(src="assets/images/pages/ilustraciones/img33.png").img-fluid 
                p.mt-3 #[strong Planificación:] contiene el diagnóstico, la estrategia y las tácticas. 
            .col-12.col-md-3.jumbotron.px-3.py-3.bg-7.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img34.png").img-fluid 
                p.mt-3 #[strong Negociación cara a cara:] contiene sus propias etapas. 
            .col-12.col-md-3.jumbotron.px-3.py-3.bg-8
                img.img-a(src="assets/images/pages/ilustraciones/img35.png").img-fluid 
                p.mt-3 #[strong Análisis posterior:] incluye el análisis de los resultados del proceso. 