.container
    .header-ecored
        h1 6. Estrategia de recuperación de cartera.
    .jumbotron.bg-white
        p Son una serie de acciones o medidas que se toman para el cobro del dinero otorgado por una entidad financiera a un cliente, para ello se encuentran, por ejemplo:
        .row.justify-content-center.align-items-center
            .col-8
                .card-media.bg-white.b-color
                    .card-media__body
                        figure.card__figure
                            img.ml-3(src="assets/images/pages/ilustraciones/img6_1.jpg").img-fluid   

                        .list.ml-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Aviso anticipado al vencimiento
                        .list.ml-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Recordatorio de pago
                        .list.ml-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Cobro administrativo
                        .list.ml-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Cobro pre jurídico
                        .list.ml-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.mb-0.m-top Cobro jurídico
 

                  
        
        .sub-ecored.mt-5#61
            h2 6.1 Técnicas de cobranzas.
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-3
                img.img-a(src="assets/images/pages/ilustraciones/img30_1.png").img-fluid 
            .col-12.col-md-6
                p La gestión de cobranzas en las empresas siempre será un tema esencial para el sostenimiento de las mismas, en general la buena colocación de los recursos en nuestro caso de las entidades financieras es determinante para el tener una buena recuperación de cartera en lo posible anticipada.
            .col-12.col-md-3
                img.img-a(src="assets/images/pages/ilustraciones/img30_2.png").img-fluid                           

        .header-arrow.py-4.mT-5
            h3 Para ello existen unas técnicas que harán efectiva la recuperación de los recursos:
        .jumbotron.bg-11
            .row.justify-content-center.align-items-center
                .col-11
                    .list
                        .list__item
                            .list__item__bulletNumber
                                span A 
                        .list__txt    
                            p Definir muy bien la segmentación de los clientes: esto ayudará en los costos y en la probabilidad de pago.

                    .list
                        .list__item
                            .list__item__bulletNumber
                                span B 
                        .list__txt    
                            p Establecer nuevos canales de comunicación con el cliente: el aprovechamiento de la tecnología hará una comunicación más efectiva la recuperación de cartera.

                    .list
                        .list__item
                            .list__item__bulletNumber
                                span C 
                        .list__txt    
                            p Crear productos ajustados a los clientes de hoy: los clientes al quedar en mora lo hacen por diferentes razones, por ejemplo; enfermedad, pérdida de trabajo, muerte o cualquier otra causa.
                            p Para estos eventos es necesario que las entidades ofrezcan diferentes productos que ayuden a los clientes en sus pagos y las entidades recuperen la cartera.
                            .jumbotron.bg-white.s
                                p Algunos productos:
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Finiquito: obtener un descuento cuando se realice el pago total de la deuda.
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.m-top Reestructura de deuda: consiste en tomar el total de deuda y enviarla a mayor tiempo con cuotas cómodas, se debe tener en cuenta que ya existe afectación en las centrales de riesgo.
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                    .list__txt    
                                        p.mb-0.m-top Descuento por devaluación del bien: para clientes cuyo bien ha sido afectado su valor por razones económicas.
                    .list
                        .list__item
                            .list__item__bulletNumber
                                span D
                        .list__txt    
                            p Tener procesos estandarizados de cobranzas: esto hace que mejore los procesos de recuperación de cartera.

                    .list
                        .list__item
                            .list__item__bulletNumber
                                span E 
                        .list__txt    
                            p Utilizar tecnología de punta en todos los procesos: se deben automatizar y mejorar el proceso de cobranza, las herramientas más usadas son sistema de cobranza integral y el marcador predictivo.

                    .list
                        .list__item
                            .list__item__bulletNumber
                                span F 
                        .list__txt    
                            p Personal moderno y capacitado para la gestión de cobranza: el asesor financiero en nuestro caso asesor microfinanciero es quien desarrolla la labor de cobranza generalmente, pues es él quien conoce al cliente desde la colocación del crédito y tiene un mayor conocimiento de él.

                    .list
                        .list__item
                            .list__item__bulletNumber
                                span G 
                        .list__txt    
                            p Tener indicadores de gestión para medir la gestión: dichos indicadores permiten identificar en clientes, en procesos o en información.


        .sub-ecored.mt-5#62
            h2 6.2 Servicio al cliente.
        p.mt-5 Es el servicio o atención que una empresa, entidad financiera o negocio brinda a sus clientes al momento de atender sus consultas, pedidos o reclamos, venderle un producto o servicio y la entrega del mismo.

        .header-arrow.py-4.mt-5
            h3 Algunos factores que tienen que ver con servicio al cliente son:
        .jumbotron.bg-11
            .row.justify-content-center.align-items-center
                .col-12.col-md-4        
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Amabilidad
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Atención personalizada
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Rapidez en la atención
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Ambiente agradable
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Comodidad
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Seguridad
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Higiene
                
                .col-12.col-md-4        
                    img.img-a(src="assets/images/pages/ilustraciones/img31.png").img-fluid                           
                .col-12.col-md-4 
                    P Cuando atendemos a un cliente de manera adecuada y queda a gusto por el servicio lo más posible es que vuelva o recomiende a otras personas.

                    P Estadísticas aseguran que un cliente bien atendido trae otros 3 clientes potenciales y un cliente mal atendido se lleva por lo menos 10 actuales.

        p.mt-5 Servicio Postventa. 

        P Estos se dan después de la venta, algunos son:
        .row.justify-content-center.align-items-center.mt-5
            .col-6
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Promocionales
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Psicológicos
            .col-6
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top De seguridad
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top De mantenimiento


        .sub-ecored.mt-5#63
            h2 6.3 Procesos de negociación.

        p.mt-5 Es el proceso que les ofrece a los contendientes la oportunidad de intercambiar promesas y contraer compromisos formales, tratando de resolver sus diferencias.

        .sub-ecored.mt-5
            h3 6.3.1. Tipos de negociación. 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img32.png").img-fluid                           
        .header-arrow.py-4.mt-5
            h3 Estas pueden clasificarse así:
        .jumbotron.bg-11
            .row.justify-content-center.align-items-center
                .col-12
                    p Según las personas involucradas: se realiza entre individuos, o grupos.

                    p Según la participación de los interesados: pueden ser negociaciones directas o indirectas, estas últimas se realizan a través de personas que medien o árbitros o abogados.

                    p Según asuntos que se negocian: existen diversos asuntos, para nuestro caso básicamente es la recuperación de cartera.

                    p Según el clima humano: podrían ser amistosas o polémicas.
            h3.mt-3 Según los factores desencadenantes: clasificadas en 
            .row.justify-content-center.align-items-center
                .col-10
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Negociaciones libres (entre compradores y vendedores).
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Forzadas (cuando un hecho específico provoca la negociación).
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Morales o afectivas (cuando el proceso tiene que ver con comportamientos, actitudes o valores).
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Legales (cuando la causa que la origina es demanda judicial).
            h3.mt-3 Según el canal de comunicación:
            .row.justify-content-center.align-items-center
                .col-10                            
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Cara a cara
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Telefónicas 
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Cartas o comunicados
            h3.mt-3 Según el modo de negociación: se pueden clasificar en:
            .row.justify-content-center.align-items-center
                .col-10                                 
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Competitivas
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Cooperativas

        .sub-ecored-teme.mt-5
            h3 Etapas del proceso de negociación 
        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img33.png").img-fluid         
                .jumbotron.bg-6.text-sup
                    p.mt-6 #[strong Planificación:] contiene el diagnóstico, la estrategia y las tácticas. 
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img34.png").img-fluid 
                .jumbotron.bg-7.text-sup
                    p.mt-6 #[strong Negociación cara a cara:] contiene sus propias etapas.             
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img35.png").img-fluid 
                .jumbotron.bg-8.text-sup
                    p.mt-6 #[strong Análisis posterior:] incluye el análisis de los resultados del proceso.             