.container
    .header-ecored
        h1 8. Objeciones. 
    .jumbotron.bg-white
        p Son todas aquellas barreras u obstáculos que el cliente interpone para evitar alguna negociación, en el caso de la recuperación de cartera el cliente expondrá todas las excusas o razones válidas para el no pago de la obligación adquirida. El papel que desempeña el asesor microfinanciero es esencial para el manejo de dichas objeciones ya que como hubo un previo conocimiento en el otorgamiento del crédito, hay un grado de confianza que permite mover al asesor frente a cada objeción que presente el cliente, ya que cualquier objeción es respecto a su vida y no respecto a su deuda con la entidad.

        .sub-ecored.mt-5#81
            h2 8.1 Tipos. 
        .jumbotron.bg-10
            .sub
                h3 8.1.1. Pasiva – Psicológica.
            .row.justify-content-center.align-items-center
                .col
                    p Por lo general ocurre como reacción para dilatar el pago.
                    p Dentro de las más comunes excusas o razones tenemos:

                    .row.justify-content-center.align-items-center
                        .col-11
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top ¡Qué pena, no me llegó la factura!                        
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top ¡El cheque está girado, pero no lo han firmado...!

                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top ¿Cómo quiere que le pague si no hay ventas?

                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Estoy esperando una plática, cuando me llegue le cancelo.!

                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top ¡Tuve una calamidad, pero muy pronto te cancelo!

                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img45.png").img-fluid 

        .jumbotron.bg-10
            .sub.mt-5
                h3 8.1.2. Administrativa – Legal.
            p.mt-5 Este tipo de objeciones puede no darse, siempre y cuando haya un buen conocimiento de las diferentes reglas formales de cobro. 

            .row.justify-content-center.align-items-center.mt-5
                .col        
                    p Este tipo de objeciones puede no darse, siempre y cuando haya un buen conocimiento de las diferentes reglas formales de cobro.
    
                    p En ella se encuentra:
                    .row.justify-content-center.align-items-center
                        .col-11    
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top La factura presenta tal inconsistencia…
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top El concepto está mal formulado… que cambiarla…
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top Hay que cambiarle la fecha, vencida o no legalizada.
                            .list
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                .list__txt    
                                    p.m-top A mí nunca me llegan los extractos – no sé qué de cuanto es la cuota..

                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img46.png").img-fluid     
        .jumbotron.bg-10
            .sub.mt-5
                h3 Formal – consentida.  
            p.mt-5 Se da en tono amistoso.  

            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img47_1.png").img-fluid 

                .col.jumbotron.bg-white.s
                    p Se pueden encontrar  frases como:

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Hermanito, tranquilo que la otra semana pago     

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Esta situación está muy difícil, espérame hasta el…

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Mire que yo soy un buen cliente.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Yo arreglo con el gerente que es mi amigo.    
            .row.justify-content-center.align-items-center.mt-5
                .col.jumbotron.bg-white.s
                    p Manejo por parte del asesor en algunas objeciones presentada por el cliente para evadir pago:               

                    p.orange Soy cliente antiguo:                      
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Con mayor razón debe estar al día 

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Eso no lo exonera de cumplir con sus compromisos

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Su deuda se está incrementando con los intereses de mora.                                          
                    p.orange Yo hablo con su jefe, que es mi amigo:

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Si lo desea puede hacerlo, él le hará el mismo planteamiento que le estoy haciendo                        

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Si usted es amigo de..(mi jefe), creo que es mejor que busque una solución y evite que él se entere de esta mora.                                         
                    p.orange Estoy a la espera de una plática:       

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Por favor me regala una fecha para el pago.                    
                    p.orange Las ventas están muy bajas:

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Lamentamos su situación, pero desafortunadamente eso no lo exonera de su obligación.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Estando al día con nosotros seremos una excelente referencia en el caso en que requiera solicitar nuevos créditos.                              
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img47_2.png").img-fluid                    

        p.mt-5 Es muy importante evitar los famosos impagos por su peligro para la entidad, como lo dice Brachfield (2019): “Los impagos de los créditos comerciales otorgados a los clientes son una amenaza para el crecimiento y supervivencia de las empresas. En los últimos años se está produciendo un importante repunte de la morosidad, se están incrementando los impagados de facturas y está aumentando el plazo de pago de los clientes”. Para profundizar en esta forma de no pago y evitarla, se recomienda leer el capítulo 2. “Los riesgos del crédito comercial otorgado a los clientes” (p.35) del libro "Credit management
        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/131011" target="_blank").media-link-1

                    img(src="assets/images/pages/ilustraciones/icon_www-1.svg", alt="").media-link-icon

                    .media-link-title.ml-4
                        p.color-black #[strong Anexo.] Cómo conceder créditos a clientes y evitar los impagados"  (Brachfiel, 2019).