.container
    .header-ecored
        h1 9. Proyecciones de pago.
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img50.png").img-fluid  
            .col
                p Las proyecciones de pago son aquellas concertaciones en que llegan a acordar el cliente con el asesor de microcrédito, una vez el cliente comience a quedar en mora, inclusive puede darse poco antes de su vencimiento si el cliente manifiesta que no puede pagar a la fecha estipulada, estas proyecciones siempre serán dadas por el cliente pues es él quien sabe realmente cuándo puede pagar, sin embargo, no pueden pasar algunas fechas que estipule la entidad de acuerdo con sus políticas ya que existen rangos de edades de mora para los cuales ya tendrán otro proceso de cobro.

        .sub-ecored.mt-5#91
            h2 9.1 Recursos. 

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img48.png").img-fluid  
            .col
                p Dentro de los recursos que se cuenta en las proyecciones de pago tenemos: las llamadas, las visitas, los formatos de compromisos de pagos firmadas por el cliente y el asesor, mensajes de texto entre otros.             

        .sub-ecored.mt-5#92
            h2 9.2 Plazos. 

        .row.justify-content-center.align-items-center.mt-5
            .col
                p En cuanto a los plazos si un cliente puede completar su cuota dentro del mes, realizará dicha proyección con el asesor firmando un formato compromiso establecido por la entidad, para no afectar su vida crediticia y su buen nombre con la entidad, pasados 31 días de mora la cartera pasará a casa de cobranza, además de afectar su calificación en las centrales de riesgo.          
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img49.png").img-fluid