.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Eficiencia operativa:
            | mide la eficiencia en ciertos rubros de la empresa.
        
        p
            strong.mr-2 Liquidez:
            | mide la capacidad de pago en efectivo de una empresa.
        p 
            strong.mr-2  Mora:
            | también llamado morosidad bancaria, el cual es un indicador de riesgo que los deudores de los bancos no cumplan con sus obligaciones de pago con los créditos adquiridos.
        p
            strong.mr-2 Rentabilidad:
            | mide las utilidades o ganancias de una empresa.

        p
            strong.mr-2 Solvencia:
            | mide la habilidad que tiene la empresa para cubrir sus compromisos inmediatos.